In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\RafaelHenriqueGallo\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
mpl.rcParams.update(mpl.rcParamsDefault)
%matplotlib inline

In [3]:
sns.set_style("darkgrid")

In [4]:
df = pd.read_csv("cumulative.csv")
df

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,0,...,-152.0,4.296,0.231,-0.189,1.088,0.313,-0.228,298.74921,46.973351,14.478
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,...,-166.0,4.529,0.035,-0.196,0.903,0.237,-0.079,297.18875,47.093819,14.082
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,...,-220.0,4.444,0.056,-0.224,1.031,0.341,-0.114,286.50937,47.163219,14.757
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,...,-236.0,4.447,0.056,-0.224,1.041,0.341,-0.114,294.16489,47.176281,15.385
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,...,-225.0,4.385,0.054,-0.216,1.193,0.410,-0.137,297.00977,47.121021,14.826

In [5]:
print("Quando possui os dados", df.shape[0])

Quando possui os dados 9564

In [6]:
print("Quando possui os dados", df.shape)

Quando possui os dados (9564, 50)

In [7]:
print("O dado possui", df.shape[0], "amostra e", df.shape[1], "atributos")
df.head()

O dado possui 9564 amostra e 50 atributos

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

In [8]:
df = df.drop(columns = 'koi_fpflag_nt')
df = df.drop(columns = "koi_fpflag_ss")
df = df.drop(columns = "koi_fpflag_co")
df = df.drop(columns = "koi_steff_err2")
df = df.drop(columns = "koi_slogg")
df = df.drop(columns = "koi_slogg_err1")
df = df.drop(columns = "koi_slogg_err2")
df = df.drop(columns = "koi_srad")
df = df.drop(columns = "koi_srad_err1")
df = df.drop(columns = "koi_srad_err2")
df = df.drop(columns = "koi_kepmag")
df = df.drop(columns = 'koi_fpflag_ec')
df = df.drop(columns = "koi_period_err1")
df = df.drop(columns = "koi_insol")
df = df.drop(columns = "koi_insol_err1")
df = df.drop(columns = "koi_insol_err2")
df = df.drop(columns = "koi_model_snr")
df = df.drop(columns = "koi_tce_plnt_num")
df = df.drop(columns = "koi_tce_delivname")
df = df.drop(columns = "koi_steff")
df = df.drop(columns = "koi_steff_err1")
df = df.drop(labels = ["koi_teq_err1"], axis = 1)
df = df.drop(labels = ["koi_teq_err2"], axis = 1)
df = df.drop(labels = ["koi_period_err2"], axis = 1)
df = df.drop(labels = ["koi_time0bk"], axis = 1)
df = df.drop(labels = ["koi_depth_err1"], axis = 1)
df = df.drop(labels = ["koi_depth_err2"], axis = 1)
df = df.drop(labels = ["koi_prad"], axis = 1)
df = df.drop(labels = ["koi_prad_err1"], axis = 1)
df = df.drop(labels = ["koi_prad_err2"], axis = 1)
df = df.drop(labels = ["koi_teq"], axis = 1)
df = df.drop(labels = ["koi_time0bk_err1"], axis = 1)
df = df.drop(labels = ["koi_time0bk_err2"], axis = 1)
df = df.drop(labels = ["koi_impact"], axis = 1)
df = df.drop(labels = ["koi_impact_err1"], axis = 1)
df = df.drop(labels = ["koi_impact_err2"], axis = 1)
df = df.drop(labels = ["koi_duration"], axis = 1)
df = df.drop(labels = ["koi_duration_err1"], axis = 1)
df = df.drop(labels = ["koi_duration_err2"], axis = 1)
df = df.drop(labels = ["koi_depth"], axis = 1)
df

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_period,ra,dec
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,9.488036,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,54.418383,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,19.899140,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,1.736952,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,2.525592,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,8.589871,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0.527699,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,1.739849,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0.681402,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,4.856035,297.00977,47.121021

In [31]:
type(df.kepler_name)

pandas.core.series.Series

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 10 columns):
rowid               9564 non-null int64
kepid               9564 non-null int64
kepoi_name          9564 non-null object
kepler_name         2294 non-null object
koi_disposition     9564 non-null object
koi_pdisposition    9564 non-null object
koi_score           8054 non-null float64
koi_period          9564 non-null float64
ra                  9564 non-null float64
dec                 9564 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 747.3+ KB

In [9]:
df.describe()

,rowid,kepid,koi_score,koi_period,ra,dec
count,9564.000000,9.564000e+03,8054.000000,9564.000000,9564.000000,9564.000000
mean,4782.500000,7.690628e+06,0.480829,75.671358,292.060163,43.810433
std,2761.033321,2.653459e+06,0.476928,1334.744046,4.766657,3.601243
min,1.000000,7.574500e+05,0.000000,0.241843,279.852720,36.577381
25%,2391.750000,5.556034e+06,0.000000,2.733684,288.660770,40.777173
50%,4782.500000,7.906892e+06,0.334000,9.752831,292.261125,43.677504
75%,7173.250000,9.873066e+06,0.998000,40.715178,295.859160,46.714611
max,9564.000000,1.293514e+07,1.000000,129995.778400,301.720760,52.336010

In [10]:
matriz_corr = df.corr()
matriz_corr

               rowid     kepid  koi_score  koi_period        ra       dec
rowid       1.000000  0.021448  -0.454493    0.003508  0.042384  0.018023
kepid       0.021448  1.000000   0.095225    0.011511 -0.002288  0.993587
koi_score  -0.454493  0.095225   1.000000   -0.070669 -0.168666  0.094944
koi_period  0.003508  0.011511  -0.070669    1.000000  0.005670  0.011479
ra          0.042384 -0.002288  -0.168666    0.005670  1.000000 -0.014373
dec         0.018023  0.993587   0.094944    0.011479 -0.014373  1.000000

In [11]:
atributos = df.columns
atributos

Index(['rowid', 'kepid', 'kepoi_name', 'kepler_name', 'koi_disposition',
       'koi_pdisposition', 'koi_score', 'koi_period', 'ra', 'dec'],
      dtype='object')

In [12]:
colunas = df.columns
colunas

Index(['rowid', 'kepid', 'kepoi_name', 'kepler_name', 'koi_disposition',
       'koi_pdisposition', 'koi_score', 'koi_period', 'ra', 'dec'],
      dtype='object')

In [13]:
df

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_period,ra,dec
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,9.488036,291.93423,48.141651
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,54.418383,291.93423,48.141651
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,19.899140,297.00482,48.134129
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,1.736952,285.53461,48.285210
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,2.525592,288.75488,48.226200
...,...,...,...,...,...,...,...,...,...,...
9559,9560,10031643,K07984.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,8.589871,298.74921,46.973351
9560,9561,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0.527699,297.18875,47.093819
9561,9562,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,1.739849,286.50937,47.163219
9562,9563,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0.681402,294.16489,47.176281
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,4.856035,297.00977,47.121021

In [37]:
pl1 = df.koi_disposition.str.get_dummies()
pl2 = df.koi_pdisposition.str.get_dummies()

In [38]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
planetas = scaler.fit_transform(pl1, pl2)
planetas

array([[-0.55432097,  1.78071757, -1.05173382],
       [-0.55432097,  1.78071757, -1.05173382],
       [-0.55432097, -0.56157137,  0.95081092],
       ...,
       [ 1.80400898, -0.56157137, -1.05173382],
       [-0.55432097, -0.56157137,  0.95081092],
       [-0.55432097, -0.56157137,  0.95081092]])

In [39]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
np_df = min_max_scaler.fit_transform(pl1, pl2)
np_df

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       ...,
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.]])

# KMeans

In [40]:
from sklearn.cluster import KMeans

KMeans = KMeans(n_clusters = 200)
KMeans.fit(np_df)
labels = KMeans.labels_

print("Grupo - 1", labels)
print("\n")

KMeans.fit(np_df)
labels = KMeans.labels_

print("Grupo - 2", labels)

C:\Users\Rafael Gallo\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (200). Possibly due to duplicate points in X.
  after removing the cwd from sys.path.

Grupo - 1 [1 1 0 ... 2 0 0]


Grupo - 2 [1 1 0 ... 2 0 0]

C:\Users\Rafael Gallo\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:10: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (200). Possibly due to duplicate points in X.
  # Remove the CWD from sys.path while we load stuff.

In [41]:
print("Grupo - 1", labels)
print("\n")

Grupo - 1 [1 1 0 ... 2 0 0]